AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AUTO_ID_BUCKET=
AUTO_ID_STACK_NAME=

# Only change if you need to use a different secret name
CREDENTIAL_SOURCE=auto-id-test-secret

# To publish entropy file and server public key to private NPM repository
NPM_SCOPE=
NPM_TOKEN=

# ACTION is one of deploy, rotate-keys, test or destroy
ACTION=deploy
